body {
    margin: 0;
    font-family: 'Smythe', system-ui;
    font-weight: 400;
} 


.container {
    width: 600px;
    border: solid green 2px;
}

.header{
    background-image: url("./images/bug.jpg");
    background-size: auto;
    background-repeat: no-repeat; 
    background-position: center center;
    color: #ffffff;
    padding: 46px;
  
}

.header-text h1{
   
    font-size: 39px;
    line-height: 24px;

}

.header-text h2{
  
    font-size: 22px;
    line-height: 14px;

}

h1 {
    margin: 0px;
    padding: 0px;
}

.item-display{
    padding: 67px 46px;
   
}

.item{
    display: flex;
    gap: 33px;
    padding-bottom: 51px;
    margin-bottom: 45px;
    border-bottom: 1px solid #D2D2D2;  
   
}

.item-graphic{
    width: 70px;
    height: 89px;
    opacity: 0.72px;
    font-size: 79px;
    line-height: 98px;
    letter-spacing: -0.02em;  
    font-family: 'Inter', sans-serif;
  

    }


.add-btn{
    border: 1.5px solid #DEDEDE;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 200;
    line-height: 45px; 
    text-align: center;
    color: #3C3C3C;
    margin-left: 260px;

    
}

hr{
    border: 1px solid #D2D2D2;
}